<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Payment Page</title>
    </head>

    <body>
        <form id="ccavenue" method="post"
            action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
            <input type="hidden" name="encRequest" value="<%= encRequest %>">
            <input type="hidden" name="access_code" value="<%= access_code %>">
        </form>

        <script type="text/javascript">
            document.getElementById('ccavenue').submit();
        </script>
    </body>

</html>